*, *:before, *:after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(241, 251, 255);
  justify-content: flex-start;
  align-items: center;
}

.app__header {
  background-image: linear-gradient(#b9fdf4, rgb(241, 251, 255));
  border-radius: 10px;
  width: 100%;
}

.app__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: rgb(241, 251, 255);
}
