.game {
    width: 400px;
    height: 400px;
    margin-top: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    background-color: black;
    justify-content: center;
    justify-self: center;
    align-self: center;

}