.game {
    width: 500px;
    height: 500px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 25px);
    grid-template-rows: repeat(20, 25px);
    background-color: black;
    justify-content: center;
}